.background-img {
  background-image: url(../../assets/images/concert-2.jpg);
  background-size: cover;
  position: sticky; 
  color: white;
}

a {
  color : white;
  text-decoration: none;
}

.row {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.eventTitle {
  font-size: 1.4em;
}

#list {
  background-color: black;
  opacity: 0.70;
  padding: 3px;
}
