<div class="container-fluid background-img">
  <div *ngIf="isLoaded" class="list">
    <div *ngFor="let event of eventsSorted; let i = index">
      <div class="row">
        <div class="col-12 col-sm-3 col-md-2 pt-1">
          {{ event.fields.date_end }}
          {{ event.fields.timetable }}
        </div>
        <div class="col-12 col-sm-5 col-md-7 eventTitle">
          <a [routerLink]="[i]">{{ event.fields.title }}</a>
        </div>
        <div class="col-12 col-sm-4 col-md-3 pt-1">
          {{event.fields.placename}}
        </div>
      </div>
      <hr>
    </div>
    <br/><br/>
  </div>
</div>
