#list {
    background-color: black;
    opacity: 0.75;
    padding: 10px;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
  }
  
  #details {
    cursor: pointer;
  }