.detail-event {  
    text-align: center;
}

.detail-header {
    background-color: black;
}

.detail-header, h2, p {
     font-size: 1.3em; 
}    

.detail-right {
    float: left;
    height: fit-content;
    text-shadow: 2px 2px 5px black, 0 0 25px darkred, 0 0 5px black;
}

.detail-map {
    justify-content: center;
    width: 100%;
    height: max-content;
}

h2 {
    font-weight: 500;
}

p {
    font-size: 18px;
}

a {
    color: white;
    text-decoration: none; 
  }