/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
body {
    background-image: url(./assets/images/concert-2.jpg);
    background-color: black;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 5px black, 0 0 25px darkred, 0 0 5px black;
}